/frontend/node_modules
/frontend/package-lock.json
repomix-output.xml
repomix-output.md
yup-readme.md
todo.md
plan-and-architecture.md
project-structure.md
icons8-tech-ios-17-filled-favicons.zip

.env